<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Basic_SQLtest.Properties.Settings.connection" connectionString="Data Source=SV-TST-SQL2012;Initial Catalog=TestNadir;Persist Security Info=True;User ID=testNadir;Password=testNadir"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>